/* .article-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: red;
  flex-grow: 1
} */

.article-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  grid-gap: 1rem;
  background-color: red;
}

@media(max-width: 1000px) {
  .article-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    grid-gap: 1rem;
  }
}

  @media(max-width: 700px) {
    .article-list {
      display: grid;
      grid-template-columns: repeat(1, auto);
      justify-content: center;
      grid-gap: 1rem;
    }
}