*,
*::after,
*::before {
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body {
  font-family: 'Silka Regular';
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input {
  font-family: 'Silka Regular';
}

@font-face {
  font-family: 'Silka Extra Light';
  src: url('../assets/silka/silka-extralight-webfont.ttf')
      format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Silka Light';
  src: url('../assets/silka/silka-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Silka Regular';
  src: url('../assets/silka/silka-regular-webfont.ttf')
      format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Silka Medium';
  src: url('../assets/silka/silka-medium-webfont.ttf')
      format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Silka Semi Bold';
  src: url('../assets/silka/silka-semibold-webfont.ttf')
      format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Silka Bold';
  src: url('../assets/silka/silka-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Silka Black Webfont';
  src: url('../assets/silka/silka-black-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}